<!DOCTYPE html>
<html lang="en">
<head>
{{>headderlink}}
    <title>Document</title>

</head>
<body>
    <!-- navbar  -->
   {{>navbar}}
    <!-- main headder  -->
    <div class="containter-fluid main_headder">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side -->
                    <div class="col-md-6 col-12 main_headder_right">
                        <figure>
                            <img src="images\404-page.png" alt="India" class="img-fluid" title="india Weather">
                        </figure>
                    </div>
                    
                    <!-- right side  -->
                    <div class="col-md-6 col-12 main_headder_left">
                        <p>welcome to Parteek world</p>
                        <h1>opps! <span class="weather-color">Page</span> not found</h1>
                        <a href="/"><button>Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fotter  -->
    {{>footer}}
</body>
</html>